<!DOCTYPE html>
<html>
<head>
    <title>Web APP</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>
    <div class="form-wraper login">
        <form acttion="/save-user" method = "POST">
            <label>username</label>
            <input type="text" class="form-control" name="username" required/>
            <label>Password</label>
            <input type="password" class="form-control" name="password" required/>
            <button type="submit" class="outline purple-white">Login</button>
        </form>
    </div>
</body>
</html>



